.page-header
  = link_to 'New Faq Category', new_admin_cms_faq_category_path(@site, @faq), class: 'btn pull-right'
  %h2 Faq Categories

= paginate @categories

%table.table.table-hover.table-bordered
  %tr
    %th Position
    %th.main Title
    %th Published
    %th Questions
    %th

  - @categories.each do |category|
    %tr
      %td= category.position
      %td.main= link_to category.title, edit_admin_cms_faq_category_path(@site, @faq, category)
      %td= category.is_published.to_s
      %td
        = link_to pluralize(category.questions.count, 'Questions'), admin_cms_faq_category_questions_path(@site, @faq, category), class: 'btn btn-small btn-inverse'
      %td
        .btn-group
          - unless category.first?
            = link_to move_higher_admin_cms_faq_category_path(@site, @faq, category), method: :put, class: 'btn btn-small' do
              %i.icon-arrow-up
          - unless category.last?
            = link_to move_lower_admin_cms_faq_category_path(@site, @faq, category), method: :put, class: 'btn btn-small' do
              %i.icon-arrow-down
          = link_to 'Edit', edit_admin_cms_faq_category_path(@site, @faq, category), class: 'btn btn-small'
          = link_to 'Delete', admin_cms_faq_category_path(@site, @faq, category), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-small btn-danger'

= paginate @categories
