.page-header
  = link_to 'New Faq Category Question', new_admin_cms_faq_category_question_path(@site, @faq, @category), class: 'btn pull-right'
  %h2 Faq Category Questions

= paginate @questions

%table.table.table-hover.table-bordered
  %tr
    %th.main Title
    %th Published
    %th

  - @questions.each do |question|
    %tr
      %td.main= link_to question.title, edit_admin_cms_faq_category_question_path(@site, @faq, @category, question)
      %td= question.is_published.to_s
      %td
        .btn-group
          = link_to 'Edit', edit_admin_cms_faq_category_question_path(@site, @faq, @category, question), class: 'btn btn-small'
          = link_to 'Delete', admin_cms_faq_category_question_path(@site, @faq, @category, question), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-small btn-danger'

= paginate @questions
